* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #4caf50, #81c784);
  min-height: 100vh;
  color: #fff;
}
